$width       : 350px;
$stroke-width: 1.5px;

.splash {
    width           : 100vw;
    height          : 100vh;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    color           : #DDD;
    background-color: #111;

    &__loader {
        width : $width;
        height: auto;

        animation: splashscale 5s ease infinite;
    }

    &__wave {
        stroke      : url("#gradient1");
        stroke-width: $stroke-width;

        transform-origin: 0% 50%;
    }

    @for $i from 2 through 25 {
        &__wave:nth-child(#{$i}) {
            animation: splashrotate (2500 + random(200 * $i)) + ms linear infinite;
            stroke   : url("#gradient#{random(3)}")
        }
    }
}

@keyframes splashrotate {
    from {
        transform: rotateX(0);
    }

    to {
        transform: rotateX(360deg);
    }
}

@keyframes splashscale {
    0% {
        transform: scaleY(0.6);
    }

    50% {
        transform: scaleY(0.4);
    }

    100% {
        transform: scaleY(0.6);
    }
}

.me {
    position: absolute;
    bottom  : 10px;
    left    : 0;

    width: 100%;

    text-align : center;
    font-family: "Roboto", sans-serif;
    font-size  : 17px;

    color: white;

    opacity            : 0;
    transform          : translateY(10px);
    animation          : appear 0.6s 1;
    animation-fill-mode: forwards;
    animation-delay    : 5s;

    & a {
        color: white;

        &:hover {
            color: lighten(#022A35, 25%);
        }
    }
}

@keyframes appear {
    to {
        transform: none;
        opacity  : 1;
    }
}