.usersCardsWrapper {
  display    : flex;
  align-items: center;
  flex-flow  : row wrap;


  .requestcard {
    max-width : 400px !important;
    min-height: 185px !important;
    width     : 500px;

    .card-userimage {
      width: 50px !important;
      z-index: 10;
    }

    .cardmessage {
      background     : #f7f8f8;
      //border-radius: 10px;
      box-shadow     : 0 0px 5px 1px #2196f330, 0 0px 1px 5px rgba(40, 44, 60, 0.06);

      p {
        font-weight: bold;
        font-size  : 1.05em;
        line-height: 1.2em;
        color      : #19617d;
      }
    }

    .content {
      padding: 15px 18px 45px 18px !important;

      div {
        display       : block !important;
        vertical-align: middle;
      }

    }
  }

  .card {
    z-index         : 1;
    position        : relative;
    background-color: #5e6370 !important;
    max-width       : 270px;
    min-width       : 260px !important;

    min-height     : 250px;
    box-shadow     : 0 0px 5px 1px #2196f330, 0 0px 1px 5px rgba(40, 44, 60, 0.06);
    font-size      : 14px;
    font-weight    : 400;
    line-height    : 1;
    overflow-x     : hidden;
    overflow-y     : hidden;
    //border-radius: 1.1rem !important;
    //@include backlight(0, 5vw, 5vw, 0.75, #0fffc1, #7e0fff, 10s);

    &.remove {
      display: none;
    }

    .card-userimage {
      width           : 90px;
      border-radius   : 50%;
      background-color: white;
      border          : 5px solid #fff;
      z-index         : 100;

    }

    .carduserdata {
      color:  #3e434e;

      .location {
        font-weight: bold;

        .cardCity {
          font-weight: inherit;
        }
      }
    }



    .panel {
      position   : absolute;
      width      : 100%;
      background : #ffffff;
      padding    : 25px;
      box-sizing : border-box;
      color      : #6c757d;
      font-weight: bolder;


      &:last-child {
        bottom    : 0;
        padding   : 10px;
        background: transparent;
      }

      .rank {
        display    : inline-block;
        font-size  : 42px;
        font-weight: 100;
      }

      .suit {
        display       : inline-block;
        padding       : 6px 0 0 0;
        font-size     : 14px;
        font-weight   : 600;
        text-transform: uppercase;

      }

      .icon {
        background   : #ffffff;
        width        : 47px;
        height       : 47px;
        margin       : 15px 0 -54px -10px;
        padding      : 13px;
        border-radius: 100%;
        line-height  : 28px;
        text-align   : center;
        box-sizing   : border-box;
        box-shadow   : 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

        img {
          display: block;
          height : 100%;
          margin : 0 auto;
        }
      }

      &.bottom {
        -webkit-transform: rotate(360deg);
        transform        : rotate(360deg);
      }
    }

    .content {
      width     : 100%;
      padding   : 43px 20px;
      box-sizing: border-box;
      text-align: center;

      div {
        display       : table-cell;
        vertical-align: middle;
      }

      img {
        margin: 10px;

        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10) {
          -webkit-transform: rotate(180deg);
          transform        : rotate(180deg);
        }
      }

      &.one img {
        -webkit-transform: scale(2);
        transform        : scale(2);
      }

      &.two img:nth-child(2),
      &.three img:nth-child(2) {
        -webkit-transform: rotate(180deg);
        transform        : rotate(180deg);
      }

      &.four {
        padding: 0 100px;

        img {

          &:nth-child(3),
          &:nth-child(4) {
            -webkit-transform: rotate(180deg);
            transform        : rotate(180deg);
          }
        }
      }

      &.five,
      &.six {
        padding: 0 70px;
      }

      &.five img {

        &:nth-child(4),
        &:nth-child(5) {
          -webkit-transform: rotate(180deg);
          transform        : rotate(180deg);
        }
      }

      &.six img {

        &:nth-child(4),
        &:nth-child(5) {
          -webkit-transform: rotate(180deg);
          transform        : rotate(180deg);
        }
      }

      &.seven,
      &.eight {
        padding: 0 60px;
      }

      &.seven img:nth-child(5),
      &.eight img:nth-child(5) {
        -webkit-transform: rotate(180deg);
        transform        : rotate(180deg);
      }

      &.jack,
      &.queen,
      &.king {
        padding: 0 100px;
      }

      &.jack img,
      &.queen img,
      &.king img {
        margin: 0;
      }

      &.jack img:nth-child(3),
      &.queen img:nth-child(3),
      &.king img:nth-child(3) {
        -webkit-transform: rotate(180deg);
        transform        : rotate(180deg);
      }

      &.jack span,
      &.queen span,
      &.king span {
        display   : block;
        width     : 100%;
        margin    : 0 0 3px;
        text-align: center;
      }

      &.jack span {

        &:before,
        &:after {
          content      : "";
          display      : inline-block;
          width        : 7px;
          height       : 7px;
          border-radius: 100%;
          margin       : 0 3px;
        }
      }

      &.queen span {

        &:before,
        &:after {
          content      : "";
          display      : inline-block;
          width        : 7px;
          height       : 7px;
          border-radius: 100%;
          margin       : 0 3px;
        }
      }

      &.king span {

        &:before,
        &:after {
          content      : "";
          display      : inline-block;
          width        : 7px;
          height       : 7px;
          border-radius: 100%;
          margin       : 0 3px;
        }
      }

      &.jack span.red {

        &:before,
        &:after {
          background: #ea474c;
        }
      }

      &.queen span.red {

        &:before,
        &:after {
          background: #ea474c;
        }
      }

      &.king span.red {

        &:before,
        &:after {
          background: #ea474c;
        }
      }

      &.jack span.black {

        &:before,
        &:after {
          background: #35424a;
        }
      }

      &.queen span.black {

        &:before,
        &:after {
          background: #35424a;
        }
      }

      &.king span.black {

        &:before,
        &:after {
          background: #35424a;
        }
      }
    }

    position         : relative;
    margin           : 0 auto 100px;
    -webkit-animation: card 1s ease;
    animation        : card 1s ease;

    .panel {
      -webkit-animation: slideInTop 3s ease;
      animation        : slideInTop 3s ease;

      &:last-child {
        -webkit-animation: slideInBottom 3s ease;
        animation        : slideInBottom 3s ease;
      }

      .rank {
        -webkit-animation: fadeInBottom 4s ease;
        animation        : fadeInBottom 4s ease;
      }

      .suit {
        -webkit-animation: fadeInRight 4s ease;
        animation        : fadeInRight 4s ease;
      }

      .icon {
        -webkit-animation: scaleIn 3s ease;
        animation        : scaleIn 3s ease;
      }
    }

    .content {
      -webkit-animation: spinIn 3s ease;
      animation        : spinIn 3s ease;
    }

    .ripple {
      position               : absolute;
      top                    : 50%;
      left                   : 50%;
      background             : #f7f7f7;
      width                  : 30px;
      height                 : 30px;
      border-radius          : 100%;
      margin                 : -15px 0 0 -15px;
      -webkit-animation      : ripple 1.5s ease;
      animation              : ripple 1.5s ease;
      opacity                : 0;
      -webkit-animation-delay: 1s;
      animation-delay        : 1s;

      &:nth-child(2) {
        background             : #ffffff;
        -webkit-animation-delay: 1.3s;
        animation-delay        : 1.3s;
      }
    }
  }
}

/* Animation Level: 1 */

/* Keyframes */


@-webkit-keyframes card {
  0% {
    -webkit-transform: translateY(200%) rotate(90deg);
    transform        : translateY(200%) rotate(90deg);
  }
}

@keyframes card {
  0% {
    -webkit-transform: translateY(200%) rotate(90deg);
    transform        : translateY(200%) rotate(90deg);
  }
}


@-webkit-keyframes removecard {
  100% {
    -webkit-transform: translateY(-200%) rotate(90deg);
    transform        : translateY(-200%) rotate(90deg);
  }
}

@keyframes removecard {
  100% {
    -webkit-transform: translateY(-200%) rotate(90deg);
    transform        : translateY(-200%) rotate(90deg);
  }
}


@-webkit-keyframes ripple {
  0% {
    display          : block;
    -webkit-transform: scale(0);
    transform        : scale(0);
    opacity          : 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(50);
    transform        : scale(50);
    opacity          : 0;
  }
}

@keyframes ripple {
  0% {
    display          : block;
    -webkit-transform: scale(0);
    transform        : scale(0);
    opacity          : 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(50);
    transform        : scale(50);
    opacity          : 0;
  }
}

@-webkit-keyframes spinIn {
  0% {
    opacity          : 0;
    -webkit-transform: rotate(90deg);
    transform        : rotate(90deg);
  }

  66% {
    opacity          : 0;
    -webkit-transform: rotate(90deg);
    transform        : rotate(90deg);
  }

  90% {
    -webkit-transform: rotate(0deg);
    transform        : rotate(0deg);
  }
}

@keyframes spinIn {
  0% {
    opacity          : 0;
    -webkit-transform: rotate(90deg);
    transform        : rotate(90deg);
  }

  66% {
    opacity          : 0;
    -webkit-transform: rotate(90deg);
    transform        : rotate(90deg);
  }

  90% {
    -webkit-transform: rotate(0deg);
    transform        : rotate(0deg);
  }
}

@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
    transform        : scale(0);
  }

  75% {
    -webkit-transform: scale(0);
    transform        : scale(0);
  }
}

@keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
    transform        : scale(0);
  }

  75% {
    -webkit-transform: scale(0);
    transform        : scale(0);
  }
}

@-webkit-keyframes slideInTop {
  0% {
    top    : -200px;
    opacity: 0;
  }

  66% {
    top    : -200px;
    opacity: 0;
  }

  100% {
    top: 0;
  }
}

@keyframes slideInTop {
  0% {
    top    : -200px;
    opacity: 0;
  }

  66% {
    top    : -200px;
    opacity: 0;
  }

  100% {
    top: 0;
  }
}

@-webkit-keyframes slideInBottom {
  0% {
    bottom : -200px;
    opacity: 0;
  }

  66% {
    bottom : -200px;
    opacity: 0;
  }

  100% {
    bottom: 0;
  }
}

@keyframes slideInBottom {
  0% {
    bottom : -200px;
    opacity: 0;
  }

  66% {
    bottom : -200px;
    opacity: 0;
  }

  100% {
    bottom: 0;
  }
}

@-webkit-keyframes fadeInBottom {
  0% {
    -webkit-transform: translateY(120%);
    transform        : translateY(120%);
    opacity          : 0;
  }

  60% {
    -webkit-transform: translateY(30%);
    transform        : translateY(30%);
    opacity          : 0;
  }
}

@keyframes fadeInBottom {
  0% {
    -webkit-transform: translateY(120%);
    transform        : translateY(120%);
    opacity          : 0;
  }

  60% {
    -webkit-transform: translateY(30%);
    transform        : translateY(30%);
    opacity          : 0;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(120%);
    transform        : translateX(120%);
    opacity          : 0;
  }

  60% {
    -webkit-transform: translateX(30%);
    transform        : translateX(30%);
    opacity          : 0;
  }
}

@keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(120%);
    transform        : translateX(120%);
    opacity          : 0;
  }

  60% {
    -webkit-transform: translateX(30%);
    transform        : translateX(30%);
    opacity          : 0;
  }
}

@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom : 30px;
    opacity: 0;
  }
}

@keyframes buttonFadeInUp {
  0% {
    bottom : 30px;
    opacity: 0;
  }
}






@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 2 !important;
    column-count        : 2 !important;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 2 !important;
    column-count        : 2 !important;
  }
}



@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 3 !important;
    column-count        : 3 !important;
  }

}


@media (min-width: 1200px) {
  .card-columns {
    -webkit-column-count: 4 !important;
    column-count        : 4 !important;
  }
}







///////////// side bar /////////////


@keyframes swing {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  30% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(5deg);
  }

  70% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity  : 1;
  }

  100% {
    transform: scale(2);
    opacity  : 0;
  }
}

body {
  font-size: 0.9rem;
}

.page-wrapper .sidebar-wrapper {
  -webkit-transition: all 0.3s ease;
  -moz-transition   : all 0.3s ease;
  -ms-transition    : all 0.3s ease;
  -o-transition     : all 0.3s ease;
  transition        : all 0.3s ease;
}

.sidebar-wrapper {
  .sidebar-brand>a {
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
  }

  .sidebar-dropdown> {

    a:after,
    .sidebar-dropdown-header:after {
      -webkit-transition: all 0.3s ease;
      -moz-transition   : all 0.3s ease;
      -ms-transition    : all 0.3s ease;
      -o-transition     : all 0.3s ease;
      transition        : all 0.3s ease;
    }
  }

  .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
  ul li a i {
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
  }
}

.page-wrapper .page-content {
  -webkit-transition: all 0.3s ease;
  -moz-transition   : all 0.3s ease;
  -ms-transition    : all 0.3s ease;
  -o-transition     : all 0.3s ease;
  transition        : all 0.3s ease;
}

.sidebar-wrapper .sidebar-menu ul li {

  a,
  .sidebar-dropdown-header {
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
  }
}

#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition   : all 0.3s ease;
  -ms-transition    : all 0.3s ease;
  -o-transition     : all 0.3s ease;
  transition        : all 0.3s ease;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
  // height    : 100vh;
  margin-top: 100px !important;

  main {
    //margin-top    : 100px !important;
    padding-bottom: 50px !important;

  }

  .theme {
    width        : 40px;
    height       : 40px;
    display      : inline-block;
    border-radius: 4px;
    margin       : 2px;

    &.chiller-theme {
      background: #1e2229;
    }
  }

  &.toggled .sidebar-wrapper {
    left: 0px;
  }
}

/*----------------toggeled sidebar----------------*/

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
  }
}

/*----------------show sidebar button----------------*/

#show-sidebar {
  position        : fixed;
  left            : 0;
  top             : 120px;
  border-radius   : 0 4px 4px 0px;
  width           : 35px;
  transition-delay: 0.3s;
}

.page-wrapper.toggled #show-sidebar {
  left: -40px;
}

/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  width     : 260px;
  height    : calc(100% - 100px);
  max-height: calc(100% - 100px);
  position  : fixed;
  bottom    : 0;
  left      : -300px;
  z-index   : 999;

  ul {
    list-style-type: none;
    padding        : 0;
    margin         : 0;
  }

  a {
    text-decoration: none;
  }
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height    : calc(100% - 30px);
  overflow-y: auto;
  position  : relative;

  &.desktop {
    overflow-y: hidden;
  }
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper {
  .sidebar-brand {
    padding    : 10px 20px;
    display    : flex;
    align-items: center;
    text-align : center;

    >a {
      text-transform: uppercase;
      font-weight   : bold;
      flex-grow     : 1;
    }

    #close-sidebar {
      cursor   : pointer;
      font-size: 20px;
    }
  }

  .sidebar-header {
    padding : 20px;
    overflow: hidden;

    .user-pic {
      float        : left;
      width        : 60px;
      padding      : 2px;
      border-radius: 12px;
      margin-right : 15px;
      overflow     : hidden;

      img {
        object-fit: cover;
        height    : 100%;
        width     : 100%;
      }
    }

    .user-info {
      float: left;

      >span {
        display: block;
      }

      .user-role {
        font-size: 12px;
      }

      .user-status {
        font-size : 11px;
        margin-top: 4px;

        i {
          font-size   : 8px;
          margin-right: 4px;
          color       : #5cb85c;
        }
      }
    }
  }

  .sidebar-menu {
    padding-bottom: 10px;

    .header-menu span {
      font-weight: bold;
      font-size  : 14px;
      padding    : 15px 20px 5px 20px;
      display    : inline-block;
    }

    ul li {

      a,
      .sidebar-dropdown-header {
        display        : inline-block;
        width          : 100%;
        text-decoration: none;
        position       : relative;
        padding        : 8px 30px 8px 20px;
        cursor         : pointer;
      }

      a {
        i {
          margin-right    : 10px;
          ///font-size    : 12px;
          width           : 30px;
          height          : 30px;
          line-height     : 30px;
          text-align      : center;
          border-radius   : 4px;
        }

        &:hover>i::before {
          display  : inline-block;
          animation: swing ease-in-out 0.5s 1 alternate;
        }
      }
    }

    .sidebar-dropdown {
      > {

        a:after,
        .sidebar-dropdown-header:after {
          font-family            : "FontAwesome";
          font-weight            : 900;
          content                : "\f105";
          font-style             : normal;
          display                : inline-block;
          font-style             : normal;
          font-variant           : normal;
          text-rendering         : auto;
          -webkit-font-smoothing : antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-align             : center;
          background             : 0 0;
          position               : absolute;
          right                  : 15px;
          font-size              : larger;
        }
      }

      .sidebar-submenu {
        ul {
          padding: 5px 0;
        }

        li {
          padding-left: 25px;
          font-size   : 13px;

          a:before {
            content                  : "\f111";
            font-family              : "FontAwesome";
            font-weight              : 400;
            font-style               : normal;
            display                  : inline-block;
            text-align               : center;
            text-decoration          : none;
            -webkit-font-smoothing   : antialiased;
            -moz-osx-font-smoothing  : grayscale;
            margin-right             : 10px;
            //font-size              : 8px;
          }
        }
      }
    }

    ul li a span {

      &.label,
      &.badge {
        float      : right;
        margin-top : 8px;
        margin-left: 5px;
      }
    }

    .sidebar-dropdown .sidebar-submenu li a {

      .badge,
      .label {
        float     : right;
        margin-top: 0px;
      }
    }

    .sidebar-submenu {
      display: none;
    }

    .sidebar-dropdown.active>a:after {
      transform: rotate(90deg);
      right    : 17px;
    }
  }
}

/*--------------------sidebar-header----------------------*/

/*----------------------sidebar-menu-------------------------*/

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width   : 100%;
  bottom  : 0;
  display : flex;

  >a {
    flex-grow  : 1;
    text-align : center;
    height     : 30px;
    line-height: 30px;
    position   : relative;

    .notification {
      position: absolute;
      top     : 0;
    }
  }
}

.badge-sonar {
  display      : inline-block;
  background   : #980303;
  border-radius: 50%;
  height       : 8px;
  width        : 8px;
  position     : absolute;
  top          : 0;

  &:after {
    content      : "";
    position     : absolute;
    top          : 0;
    left         : 0;
    border       : 2px solid #980303;
    opacity      : 0;
    border-radius: 50%;
    width        : 100%;
    height       : 100%;
    animation    : sonar 1.5s infinite;
  }
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display     : inline-block;
  width       : 100%;
  padding-left: 0px;
  padding-top : 20px;

  >div {
    padding: 20px 40px;
  }

  overflow-x: hidden;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width : 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width : 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background   : #525965;
  border       : 0px none #ffffff;
  border-radius: 0px;

  &:hover,
  &:active {
    background: #525965;
  }
}

::-webkit-scrollbar-track {
  background   : transparent;
  border       : 0px none #ffffff;
  border-radius: 50px;

  &:hover,
  &:active {
    background: transparent;
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme {
  .sidebar-wrapper {
    background: #31353D;

    .sidebar-header,
    .sidebar-menu {
      border-top: 1px solid #3a3f48;
    }

    .sidebar-header .user-info {

      .user-role,
      .user-status {
        color: #818896;
      }
    }

    .sidebar-brand>a {
      color: #818896;
    }

    .sidebar-menu ul li {

      a,
      .sidebar-dropdown-header {
        color: #818896;
      }
    }
  }

  .sidebar-footer>a {
    color: #818896;
  }

  .sidebar-wrapper {
    .sidebar-menu {
      ul li:hover> {

        a,
        .sidebar-dropdown-header {
          color: #b8bfce;
        }
      }

      .sidebar-dropdown.active>a {
        color: #b8bfce;
      }
    }

    .sidebar-header .user-info,
    .sidebar-brand>a:hover {
      color: #b8bfce;
    }
  }

  .sidebar-footer>a:hover i {
    color: #b8bfce;
  }
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
  color: #bdbdbd;

  &:hover {
    color: #ffffff;
  }
}

.chiller-theme {
  .sidebar-wrapper {

    ul li:hover a i,
    .sidebar-dropdown .sidebar-submenu li a:hover:before {
      color      : #16c7ff;
      text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
    }

    .sidebar-menu {
      .sidebar-dropdown.active a i {
        color      : #16c7ff;
        text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
      }

      ul li a i,
      .sidebar-dropdown div {
        background: #3a3f48;
      }

      .header-menu span {
        color: #6c7b88;
      }
    }
  }

  .sidebar-footer {
    background: #3a3f48;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid #464a52;

    >a {
      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}











.filters-container {
  width           : 100%;
  // overflow:hidden;
  border-radius   : 0.25rem;
  padding         : 20px;
  background-color: transparent;
  transition      : background-color .6s;

  h1 {
    cursor        : pointer;
    color         : #a5adb5;
    opacity       : 0.5;
    width         : 100px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size     : 15px;

    &:hover {
      opacity: 1;
    }
  }

  .filters {
    width          : 0;
    display        : flex;
    justify-content: space-around;
    transition     : .5s;
    visibility     : hidden;
    opacity        : 0;

    h2 {
      cursor          : pointer;
      color           : #a5adb5;
      transition      : all 0.3s;
      margin          : 0;
      //width         : 80px;
      text-align      : center;
      text-transform  : uppercase;
      letter-spacing  : 1.5px;
      font-size       : 15.5px;
      opacity         : 1;

      &:hover {
        color      : #16c7ff;
        text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
      }

    }

    h2.collapsed {
      opacity: 0.5;

      &:hover {
        //   color:#E83114;
        opacity: 1;
      }
    }
  }

  .filters.active {
    visibility: visible;
    width     : 100%;
    opacity   : 1;
  }

  .trigger-filters {
    transition : .3s;
    color      : #16c7ff;
    text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);


    i {
      transition: .3s;
    }
  }

  .trigger-filters.active {
    i {
      transform: rotate(180deg)
    }
  }

  .my-card {
    margin-top     : 10px;
    border         : 0px;
    box-shadow     : 0px 2px 12px -4px rgba(0, 0, 0, 0.1);
    border-radius  : 0.25rem;
    display        : flex;
    justify-content: center;
    min-height     : 75px;
    align-items    : center;

    .my-select.no-border .css-10nd86i {
      margin-bottom: 0;
    }

    .css-15k3avv {
      font-size: 16px !important;
      position : absolute;
      z-index  : 2
    }

    .my-select {
      width: 100%;
    }
  }

  .col {
    padding-left : 10px;
    padding-right: 10px;
  }



  .btn {
    border-radius      : 0.25rem;
    font-family        : "Abel";
    display            : flex;
    background-size    : contain;
    background-position: center;
    background         : linear-gradient(332deg, #363B6D 0%, #E83114 100%);
    color              : white;
    border-radius      : 0.25rem;
    letter-spacing     : 1.5px;
    font-weight        : 400;
    padding            : 10px 30px;
    font-size          : 1rem;
    line-height        : 1.5;
    text-transform     : uppercase;
    justify-content    : center;
    cursor             : pointer;
    transition         : transform .1s;
    margin             : 20px 0;

    &:hover {
      background      : none;
      background-color: #E83114;
      transform       : scale(1.05)
    }
  }


  input[type=range] {
    -webkit-appearance: none;
    border            : 1px solid white;
    width             : 100%;
  }

  input[type=range]::-webkit-slider-runnable-track {
    height       : 5px;
    background   : #ddd;
    border       : none;
    border-radius: 3px;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border            : none;
    height            : 16px;
    width             : 16px;
    border-radius     : 50%;
    background        : #363B6D;
    margin-top        : -4px;
    cursor            : pointer;

    &:hover {
      background: #E83114;
    }
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
  }

  input[type=text] {
    -webkit-appearance: none;
    font-size         : 15px;
    color             : #555555;
    line-height       : 1.2;
    display           : block;
    width             : 100%;
    background        : transparent;
    padding           : 0 5px;
    border            : none;
    transition        : all 1s;
    outline           : 0px;

    &:focus {
      outline   : 0px;
      box-shadow: none;
      outline   : none;
    }
  }
}

.filters-container.active {
  background-color: rgba(75, 78, 109, 0.33);
}


@media screen and (max-width: 700px) {
  .filters-container {
    .col {
      flex-basis: 45%;
    }

    .filters {
      flex-wrap: wrap;

      h2 {
        flex-basis   : 45%;
        margin-bottom: 10px;
      }
    }
  }
}


.product-review-stars {
  label {
    text-shadow: 0px 0px 10px black;
  }
}

/*end decoration*/

.visuallyhidden {
  position: absolute !important;
  clip    : rect(1px 1px 1px 1px);
  clip    : rect(1px, 1px, 1px, 1px);
}

.product-review-stars {
  label:after {
    content          : "★";
    color            : inherit;
    -webkit-transform: scale(4);
    position         : absolute;
    z-index          : 4;
    left             : 0px;
    transition       : all 0.4s;
    opacity          : 0;
    color            : inherit;
    visibility       : hidden;
  }

  input:checked+label:after {
    visibility       : visible;
    -webkit-transform: scale(1);
    opacity          : 1;
  }

  unicode-bidi: bidi-override;
  direction   : rtl;

  label {
    font-family  : "icomoon";
    font-size    : 2em;
    position     : relative;
    //cursor     : pointer;
    color        : #dfe3e4;
  }

  input {
    &:checked~label:before {
      opacity: 1;
    }

    +label {
      &:before {
        content                    : "\2605";
        position                   : absolute;
        right                      : 0;
        opacity                    : 0;
        transition                 : opacity 0.3s ease-in-out, color 0.3s ease-in-out;
        backface-visibility        : hidden;
        -webkit-backface-visibility: hidden;

        /* Chrome and Safari */
        -moz-backface-visibility: hidden;

        /* Firefox */
        -ms-backface-visibility: hidden;

        /* Internet Explorer */
      }

      &:nth-of-type(1) {

        &:after,
        &:before {
          color: #2ecc71;
        }
      }
    }

    &:nth-of-type(1):checked~label:before {
      color: #2ecc71;
    }

    +label:nth-of-type(2) {

      &:after,
      &:before {
        color: #f1c40f;
      }
    }

    &:nth-of-type(2):checked~label:before {
      color: #f1c40f;
    }

    +label:nth-of-type(3) {

      &:after,
      &:before {
        color: #f39c12;
      }
    }

    &:nth-of-type(3):checked~label:before {
      color: #f39c12;
    }

    +label:nth-of-type(4) {

      &:after,
      &:before {
        color: #e74c3c;
      }
    }

    &:nth-of-type(4):checked~label:before {
      color: #e74c3c;
    }

    +label:nth-of-type(5) {

      &:after,
      &:before {
        color: #d35400;
      }
    }

    &:nth-of-type(5):checked~label:before {
      color: #d35400;
    }
  }
}






/*--------------------
Mixins
--------------------*/
@mixin center {
  position : absolute;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%);
}

@mixin ball {
  @include center;
  content      : '';
  display      : block;
  width        : 3px;
  height       : 3px;
  border-radius: 50%;
  background   : rgba(255, 255, 255, .5);
  z-index      : 2;
  margin-top   : 4px;
  animation    : ball .45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
}


/*--------------------
reviews
--------------------*/
.reviews {
  flex      : 1 1 auto;
  color     : rgba(255, 255, 255, .5);
  overflow  : hidden;
  position  : relative;
  width     : 100%;
  height    : 0px;
  transition: height 0.3s ease-out;


  &.show {
    animation : card 1.2s ease;
    height    : 200px;
    transition: height 0.5s ease-in;
  }

  .product-review-stars {
    label {
      font-size: 14px;
    }
  }

  .reviews-content {
    position  : absolute;
    overflow-y: scroll;
    top       : 0;
    left      : 0;
    height    : 101%;
    width     : 100%;


    &::-webkit-scrollbar {
      width : 3px;
      height: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow   : inset 0 0 5px grey;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background   : #16c7ff;
      border-radius: 50px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #16c7ff;
      opacity   : 0.5;
    }

    .message {
      clear          : both;
      float          : left;
      padding        : 6px 10px 7px;
      border-radius  : 10px 10px 10px 0;
      background     : rgba(0, 0, 0, .3);
      margin         : 8px 0;
      //font-size    : 11px;
      line-height    : 1.4;
      margin-left    : 35px;
      position       : relative;
      text-shadow    : 0 1px 1px rgba(0, 0, 0, .2);

      .timestamp {
        position   : absolute;
        bottom     : -18px;
        //font-size: 9px;
        color      : rgba(255, 255, 255, .7);
      }

      &::before {
        content     : '';
        position    : absolute;
        bottom      : -6px;
        border-top  : 6px solid rgba(0, 0, 0, .3);
        left        : 0;
        border-right: 7px solid transparent;
      }

      .avatar {
        position     : absolute;
        z-index      : 1;
        bottom       : -15px;
        left         : -35px;
        border-radius: 30px;
        width        : 30px;
        height       : 30px;
        overflow     : hidden;
        margin       : 0;
        padding      : 0;
        border       : 2px solid rgba(255, 255, 255, 0.24);

        img {
          width : 100%;
          height: auto;
          margin: 0px;
          border-radius: 100%;
        }
      }

      &:last-child {
        margin-bottom: 30px;
      }

      &.new {
        transform       : scale(0);
        transform-origin: 0 0;
        animation       : bounce 500ms linear both;
      }
    }
  }


}




/*--------------------
Bounce
--------------------*/
@keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}


@keyframes ball {
  from {
    transform: translateY(0) scaleY(.8);
  }

  to {
    transform: translateY(-10px);
  }
}







html,
body {
  &.modal-active {
    overflow: hidden;
  }
}

#requestModal-container {
  position : fixed;
  display  : table;
  height   : 100%;
  width    : 100%;
  top      : 0;
  left     : 0;
  transform: scale(0);
  z-index  : 1000000;

  &.four {
    // z-index  : 0;
    animation: blowUpModal .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

    .modal-background {
      background: rgba(29, 34, 43, 0.82);

      .my-modal {
        animation: blowUpModal .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      }
    }

    +.content {
      z-index  : 1;
      animation: blowUpContent .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }

    &.out {
      animation: blowUpModalTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

      .modal-background {
        .my-modal {
          animation: blowUpModalTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
      }

      +.content {
        animation: blowUpContentTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      }
    }
  }


  .modal-background {
    display       : table-cell;
    background    : rgba(29, 34, 43, 0.9);
    text-align    : center;
    vertical-align: middle;

    .my-modal {
      background   : white;
      padding      : 50px;
      display      : inline-block;
      border-radius: 3px;
      font-weight  : 300;
      position     : relative;
      z-index      : 2000000;

      h2 {
        font-size    : 25px;
        line-height  : 25px;
        margin-bottom: 15px;
      }

      p {
        font-size  : 18px;
        line-height: 22px;
      }

      .modal-svg {
        //position     : absolute;
        top          : 0;
        left         : 0;
        height       : 100%;
        width        : 100%;
        border-radius: 3px;

        rect {
          stroke           : #fff;
          stroke-width     : 2px;
          stroke-dasharray : 778;
          stroke-dashoffset: 778;
        }
      }
    }
  }
}





@keyframes blowUpContent {
  0% {
    transform: scale(1);
    opacity  : 1;
  }

  99.9% {
    transform: scale(2);
    opacity  : 0;
  }

  100% {
    transform: scale(0);
  }
}

@keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity  : 0;
  }

  100% {
    transform: scale(1);
    opacity  : 1;
  }
}

@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity  : 1;
  }

  100% {
    transform: scale(0);
    opacity  : 0;
  }
}