


footer {
    position               : absolute;
    bottom                 : 0;
    height                 : 50%;
    width                  : 100%;
    background-image       : linear-gradient(#f85f6a, #fcb3b9);
    border-top-left-radius : 50% 74%;
    border-top-right-radius: 50% 10%;
    
    .logo {
      width: 100px;
    }
  
    .footer-copyright {
      display: inline-block;
    }
  }